<p-dataList [value]="model.items">
  <p-header>
    List
  </p-header>
  <ng-template let-tditem pTemplate="item">
    <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
      <div class="ui-grid-row">
        <div class="ui-grid-col-10">{{tditem.name}}</div>
        <div class="ui-grid-col-3">
          <button pButton type="button" label="X"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-dataList>

<br/>

<input type="text" [(ngModel)]="newItem.name" pInputText>
<button pButton (click)="saveItem()" type="button" label="Add item"></button>
