<p-growl [value]="messages" sticky="sticky"></p-growl>

<div class="center">(Try admin/a, or user/u)</div>
<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div>
        <label for="username">Username: </label>
        <input id="username" type="email"
               [(ngModel)]="model.username" #username="ngModel" name="username"
               pInputText>
    </div>
    <div>
        <label for="password">Password: </label>
        <input id="password" type="password"
               [(ngModel)]="model.password" #password="ngModel" name="password"
               pInputText>
    </div>
    <div class="center">
      <button pButton type="submit" label="Log In"></button>
    </div>
</form>
