<p-growl [value]="messages" sticky="sticky"></p-growl>

<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div>
        <label for="username">Username: </label>
        <input id="username" type="email"
               [(ngModel)]="model.username" #username="ngModel" name="username"
               pInputText>
    </div>
    <div>
        <label for="password">Password: </label>
        <input id="password" type="password"
               [(ngModel)]="model.password" #password="ngModel" name="password"
               pInputText>
    </div>
    <button pButton type="submit" label="Log In"></button>
</form>
<div>admin/a</div>
<div>user/u</div>
